
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nick Sylva</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>
  	<style>
		#my-map {
			height:500px;
		}
	</style>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nick Sylva</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	<div class="container">
		<div class="row">
			<div id="feature" class="col-md-8 col-sm-8 col-xs-8">
				<h1>{{ project_name }}</h1>
				<div id="my-map"></div>
				<script src="{{ url_for('static',filename='js/map.js') }}"></script>
			</div>
			<div id="details" class="col-md-4 col-sm-4 col-xs-4">
				<h2>Project Details</h2>
				<h4>Overview</h4>
				<p>There are two primary components that are critical to developing a holistic view of the natural world around us:</p>
				<ul>
					<li>Aesthetic appreciation</li>
					<li>Mechanistic understanding</li>
				</ul>
				<p>Most people have the first one down. It is easy to walk outside and appreciate the sights, smells, and sounds of nature. The second, however, is trickier. Most people are not hydrologists, nor do they desire to become hydrologists. In light of that, a technique needs to be developed that allows people to combine their already existing aesthetic appreciation of nature with enough mechanistic understanding that they can better relate to the world around them. </p>
				<p>The purpose of this project is to foster that connection through the power of data. Rivers and streams are important parts of the natural world, so they will be the initial focus. The United States Geological Survey (USGS) collects data at sites across the country, and its their data that I will display on this map.</p>
				<p>To start, scroll through the map to view USGS sites that record water level and/or stream flow data. Click on the individual markers to see the name of the site, site ID, the site type, and the coordinates of the site. Get familiar with the sites located near you.</p>
				<p>This is just the beginning. Features coming soon include: </p>
				<ul>
					<li>Location search</li>
					<li>Charts depicting water level and stream flow data at each site.</li>
					<li>Adjustable time ranges so that you can see how stream parameters change over time.</li>

				</ul>
			</div>
		</div>
	</div>
</body>
</html>